doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Hero Cards
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        //- link(href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" type='text/css')
        link(href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" type='text/css')
        link(rel="stylesheet" type="text/css" href="/css/components/cards/heroCard.css")
    body
        .articles
            article
                figure
                    img(src="/images/components/assets/heroCards/lavender-field.jpg" alt="Lavender Fields")
                .article-preview
                    h2 Lavender Fields
                    p
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        | Praesent in mauris eu tortor porttitor accumsan.
            article
                figure
                    img(src="/images/components/assets/heroCards/snow-scenery.jpg" alt="Snowy Mountains")
                .article-preview
                    h2 Snowy Mountains
                    p
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    | Praesent in mauris eu tortor porttitor accumsan.
            article
                figure
                    img(src="/images/components/assets/heroCards/wooden-bridge.jpg" alt="Wooden Bridge")
                .article-preview
                    h2 Wooden Bridge
                    p
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    | Praesent in mauris eu tortor porttitor accumsan.
            //- article
                figure
                    img(src="/images/components/assets/heroCards/autumn.jpg" alt="Autumn Forest")
                .article-preview
                    h2 Autumn Forest
                    p
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent in mauris eu tortor porttitor
                    | accumsan.
            article
                figure
                    img(src="/images/components/assets/heroCards/forest.jpg" alt="Freezing Forest")
                .article-preview
                    h2 Freezing Forest
                    p
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent in mauris eu tortor porttitor
                    | accumsan.

    script(src='/scripts/components/cards/heroCardApi.js')