extends layout

block layout-content
    div.View
        div.Header
            h1.Banner FreeMUSIC
            include ../views/components/NavButtons/topNavButtons
            //- each user in users
            //- p.Banner Welcome #{user}
        div.Hero
            div.Message
                div.Title
                    h3 Hub for The Best
                    h1 Freebies For Devs
                span.Details Access the FreeBYTE Team Portal
            div.Message
                div.Title
                    h3 Making the Best
                    h1 Freejazz For Devs
                span.Details Access the FreeBYTE Team Portal
        div.Main
        div.Section
        div.Footer
            include ../views/components/NavButtons/bottomNavButtons