extends layout

block layout-content
    div.View
        div.Header
        //- each user in users
        //-     p Welcome: #{user.name} (#{user.email})
        //- include components/user/getUserById
        div.Hero
            //- include components/cards/heroCard.pug
            include components/forms/registrationForm
            include components/forms/loginForm
        div.Main
            p#welcome-message User Information (Single Line):
        p User Information (Multi-line)
            textarea#user-info-textarea(readonly, rows="5", cols="50")
        div.Section
            //- div.Form 
        div.Footer

    script(src='scripts/components/users/getUserByID.js')