extends layout

block layout-content
    div.View
        div.Header
            h1.Banner AFRO LYRICS MANIA
            include components/buttons/NavButtons/topNavButtons
        //- each user in users
        //-     p Welcome: #{user.name} (#{user.email})
        //- include components/user/getUserById
        div.Hero
            //- include components/cards/heroCard.pug
            include components/forms/registrationForm
            include components/forms/loginForm
        div.Main
            p#welcome-message User Information (Single Line):
        p User Information (Multi-line)
            textarea#user-info-textarea(readonly) 
        div.Section
            //- div.Form 
        div.Footer
            include components/buttons/NavButtons/bottomNavButtons

    script(src='scripts/components/users/getUserByID.js')