extends layout

block layout-content
    div.View
        div.Header
            p Welcome: #{users.fullName} (#{users.email})
        div.Main
            p#user-info-paragraph User Information (Single Line):
            p User Information (Multi-line)
                textarea#user-info-textarea(readonly, rows="5", cols="50")
        div.Section
        div.Footer

        script(src='scripts/components/users/getUserByID.js')