/* public/style.css */
@import url("https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono");

:root {
    --ui-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06),
    0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
    fill: rgba(0, 0, 0, 0.54);
    --ui-shadow-border: 1px solid rgba(0, 0, 0, 0.14);
}

* {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1,
h2,
h3 {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    
    padding: 0;
    margin: 0;
    
    color: #2a3747;
}

h1 {
    font-size: 40px;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

#root {
    display: flex;
    flex-direction: column;
}

.View {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
    height: 100%;
    width: 100%;
    
    padding: 20px;
    
    background-size: cover;
    
    font-family: "Merriweather Sans", sans-serif;
}
.Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    
    border-radius: 5px;
    border-bottom: var(--ui-shadow-border);
    box-shadow: var(--ui-shadow);

}
.Banner {
    overflow: hidden;
    background: white;
    padding: 15px;
    font-family: "Share Tech Mono", monospace;
}

.Hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Add this line to set the height to 100vh */
    margin: auto; /* Add this line to center the Hero section vertically */
}

.Hero .Message {
    flex-basis: 45%;
    margin: 20px;
    text-align: center;
}

.Hero .Message .Title {
    margin-bottom: 20px;
}

.Hero .Message .Title h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.Hero .Message .Title h1 {
    font-size: 48px;
    font-weight: bold;
}

.Hero .Message .Details {
    font-size: 18px;
    color: #666;
}

.Message {
    background: white;
    padding: 30px;
    border-bottom: var(--ui-shadow-border);
    box-shadow: var(--ui-shadow);
}

.Message > .Title {
    padding-bottom: 20px;
}

.Message > .Details {
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
}

/* .NavButtons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
} */

/* .NavButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
    height: 55px;
    width: 150px;
    position: fixed;
    bottom: 2%;
    
    background: #fa4141;
    
    border-radius: 30px;
    
    font-size: 16px;
    font-weight: bold;
    color: white;
    
    text-transform: capitalize;
    
    border-bottom: var(--ui-shadow-border);
    box-shadow: var(--ui-shadow);
} */

/* Footer Section */
.Footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    padding: 0.8%;
    
    border-radius: 5px;
    border-bottom: var(--ui-shadow-border);
    box-shadow: var(--ui-shadow);
}

/* Media Queries */

/* For screens smaller than 768px */
@media (max-width: 768px) {
    .Hero .Message {
        flex-basis: 100%;
    }
}

/* For screens smaller than 768px */
@media (max-width: 768px) {
    .Message {
        font-size: 14px;
    }
    .Message .Title h3 {
        font-size: 18px;
    }
    .Message .Title h1 {
        font-size: 24px;
    }
}

/* For screens smaller than 480px */
@media (max-width: 480px) {
    .Message {
        font-size: 12px;
    }
    .Message .Title h3 {
        font-size: 14px;
    }
    .Message .Title h1 {
        font-size: 18px;
    }
}
