- var navButtonCSS = '/css/components/buttons/NavButtons/bottomNavButtons.css'

html
    head
        link(rel="stylesheet" href=navButtonCSS)
    body
        block layout-content
        div.NavButtons
            a(href="/login")
                div.BottomNavButton Login
            a(href="/register")
                div.BottomNavButton Sign up
