html
    head
        //- link(rel="stylesheet" href=regFormCss)
    body
        block layout-content
            p(class='getUserById') User ID:

    script(src='scripts/components/users/getUserByID.js')