html
    head
        title User Information
    body
        block layout-content
            h1#welcome-message
            p Your full name is: 
            p#user-full-name

            p User Information (All Details):
            textarea#user-info-textarea(readonly, rows="5", cols="50")

        //- script(src='/scripts/components/users/getUserByID.js')