extends ../../layout

block layout-content
    div.View
        div.Header
            h1.Banner Afro Lyrics Mania
            include ../../components/buttons/NavButtons/topNavButtons
        include ../../components/forms/registrationForm

        div.Section
        div.Footer
            include ../../components/buttons/NavButtons/bottomNavButtons