- var navButtonCSS = '/css/components/NavButtons/bottomNavButtons.css'

html
    head
        link(rel="stylesheet" href=navButtonCSS)
    body
        block layout-content
        div.NavButtons
            a(href="/user")
                div.BottomNavButton Let's go
            a(href="/user")
                div.BottomNavButton Let's go