- var navButtonCSS = '/css/components/NavButtons/topNavButtons.css'

html
    head
        link(rel="stylesheet" href=navButtonCSS)
    body
        block layout-content
        div.NavButtons
            a(href="/")
                div.TopNavButton Home
            a(href="/admin")
                div.TopNavButton Admin Backend
            a(href="/contact")
                div.TopNavButton Contact
            a(href="/users")
                div.TopNavButton User
            a(href="/output")
                div.TopNavButton Output
                    
                    